<section class="footer-main">
  <a href="/" class="footer-logo">
    <img src="catalog/view/theme/barber/image/logo.svg"/>
  </a>
  <span class="footer-copyright">It is a long established fact that a reader will be distracted by the readable</span>
  <nav class="footer-social">
    <ul class="footer-social-list">
      <li class="footer-social-item"><a href="https://facebook.com"><img src="catalog/view/theme/barber/image/facebook-ico.svg" alt=""></a></li>
      <li class="footer-social-item"><a href="https://twitter.com"><img src="catalog/view/theme/barber/image/twitter-ico.svg" alt=""></a></li>
      <li class="footer-social-item"><a href="https://google.com"><img src="catalog/view/theme/barber/image/google-ico.svg" alt=""></a></li>
    </ul>
  </nav>
  <div class="footer-line"></div>
</section>
</body>
</html>